# Postgres env
DATABASE_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=my_super_strong_password
POSTGRES_HOST=localhost
POSTGRES_PORT=8080

# Encryption env
MASTER_KEY=xxx # base64.urlsafe_b64encode(os.urandom(32)).decode()

# Garage (S3) env
GARAGE_ACCESS_KEY=GKyour_access_key_here
GARAGE_SECRET_KEY=your_secret_key_here
GARAGE_BUCKET=images

# Django S3 env
AWS_ACCESS_KEY_ID=GKyour_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_STORAGE_BUCKET_NAME=images
AWS_S3_ENDPOINT_URL=http://localhost:3900
AWS_S3_REGION_NAME=garage
