# Postgres env
DATABASE_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=my_super_strong_password
POSTGRES_HOST=localhost
POSTGRES_PORT=8080

# Django Settings
MASTER_KEY=xxx # base64.urlsafe_b64encode(os.urandom(32)).decode()
DJANGO_SECRET_KEY=xxx # import secrets; print(secrets.token_urlsafe(50))
TIMEZONE=Europe/London

# Garage (S3) env
GARAGE_ACCESS_KEY=GKyour_access_key_here
GARAGE_SECRET_KEY=your_secret_key_here
GARAGE_BUCKET=images

# Django S3 env
AWS_ACCESS_KEY_ID=GKyour_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_STORAGE_BUCKET_NAME=images
AWS_S3_ENDPOINT_URL=http://localhost:3900
AWS_S3_REGION_NAME=garage

# Email (SMTP)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.emailprovider.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=email@domain.com
EMAIL_HOST_PASSWORD=the_password_or_app_secret

# Celery
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT=3600
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
