<div class="panel">
    <div class="panel-header">
        <h2 class="panel-title">Journal Settings</h2>
        <button
            class="panel-close-btn"
            onclick="panelManager.close()"
            aria-label="Close panel"
        >
            ✕
        </button>
    </div>
    <div class="panel-section">
        {% if packs %}
            {% for pack in packs %}
            <div class="pack">
                <p class="pack-name">{{pack.pack.name}}</p>
                <div class="sticker-row">
                {% for sticker in pack.stickers %}
                    <div class="sticker">
                        <img src="{{sticker.url}}">
                        <p>{{sticker.name}}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
