@font-face {
    font-family: "Instrument Serif";
    src: url("/static/fonts/Instrument Serif/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Instrument Serif";
    src: url("/static/fonts/Instrument Serif/InstrumentSerif-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/Open Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/Open Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: italic;
}

:root {
	--theme-primary: #588157;
	--theme-primary-accent: #a3b18a;
	--bg-primary: #D6DAE0;
	--bg-secondary: #EAEBEC;
	--bg-tertiary: #FDFDFD;
	--text-primary: #1F1F25;
	--text-secondary: #999FA6;
	--error: #c1121f;
	--warning: #ffb703;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    letter-spacing: -0.05em;
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    letter-spacing: -0.02em;
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row #title {
    margin-right: 1em;
    text-align: center;
}

.row button {
    background: none;
    border: none;
    margin: 0.5em;
}

button svg {
    fill: var(--text-primary);
    transition: all 100ms ease-in;
}
