@font-face {
    font-family: "Instrument Serif";
    src: url("/static/fonts/Instrument Serif/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Instrument Serif";
    src: url("/static/fonts/Instrument Serif/InstrumentSerif-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/Open Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/Open Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: italic;
}

:root {
	--theme-primary: #588157;
	--theme-primary-accent: #a3b18a;
	--bg-primary: #D6DAE0;
	--bg-secondary: #EAEBEC;
	--bg-tertiary: #FDFDFD;
	--text-primary: #1F1F25;
	--text-secondary: #999FA6;
	--error: #c1121f;
	--warning: #ffb703;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    letter-spacing: -0.05em;
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    letter-spacing: -0.02em;
}

#hero {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroContent {
    text-align: center;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 2.5%, rgba(0, 0, 0, 0) 100%);
    padding: 50vh 50vw;
    width: 100vw;
    color: var(--bg-primary);
}

.heroContent h1 {
    font-size: 10em;
}

.heroContent p {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
}

.heroContent button {
    background: none;
    border: none;
    outline: 1px solid var(--bg-primary);
    color: var(--bg-primary);
    font-weight: 100;
    letter-spacing: -0.05em;
    padding: 0.5em 2em;
    border-radius: 50px;
    font-style: italic;
}

.heroContent button:hover {
    outline: 2px solid var(--bg-primary);
}

.heroContent .row {
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#content {
    width: calc(75vw - 2em);
    padding: 1em;
}

#sidebar {
    width: 25vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

#title {
    font-size: 2em;
}

#editor {
    margin-top: 0.5em;
    font-size: 1rem;
    font-family: "Open Sans";
    letter-spacing: -0.05em;
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row #title {
    margin-right: 1em;
    text-align: center;
}

.row button {
    background: none;
    border: none;
    margin: 0.5em;
}

button svg {
    fill: var(--text-primary);
    transition: all 100ms ease-in;
}

#logout svg {
    margin-top: 0.25em;
}

#delete svg {
    margin-top: 0.25em;
}

#delete:hover > * {
    fill: var(--error);
}

#logout:hover > * {
    fill: var(--warning);
}

.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: var(--bg-tertiary);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-top: -.5rem;
}

.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.month-name {
    font-family: "Instrument Serif";
    font-size: 2em;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--text-secondary);
	font-size: .875em;
	font-weight: 500;
	font-style: italic;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	font-family: "Open Sans";
	&:focus {
		outline: 0;
		color: var(--theme-primary);
		border: 2px solid var(--theme-primary-accent);
	}
}

.faded {
	color: var(--text-secondary);
	font-style: italic;
}

.date.selected {
	color: #FFF;
	border-color: var(--theme-primary);
	background-color: var(--theme-primary);
	&:focus {
		background-color: var(--theme-primary-accent);
	}
}

.has-entry {
    color: var(--theme-primary);
    font-weight: bold;
}

.authForm {
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.authForm * {
    transition: all 250ms ease-in;
    transition: outline 100ms ease-in;
}

.authForm h1 {
    padding: 3vh 0;
    font-size: 3em;
}

.authForm input {
    padding: 0.5em;
    margin: 1vh 0 2vh 0;
    border-radius: 8px;
    border: none;
    outline: 1px solid var(--text-secondary);
    font-weight: 100;
    font-style: italic;
}

.authForm input:focus {
    outline: 2px solid var(--text-primary);
}

.authForm label {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -0.05em;
}

.authForm .row button[type=submit] {
    background: none;
    border: none;
    outline: 1px solid var(--text-primary);
    color: var(--text-primary);
    font-weight: 100;
    letter-spacing: -0.05em;
    padding: 0.5em 2em;
    border-radius: 8px;
    font-style: italic;
    margin-right: 1vw;
    margin-left: 0;
}

.authForm .row button[type=button] {
    background: none;
    border: none;
    outline: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    font-weight: 100;
    letter-spacing: -0.05em;
    padding: 0.5em 2em;
    border-radius: 8px;
    font-style: italic;
}

.authForm .row button:hover {
    outline: 2px solid;
}

.error-list {
    color: var(--error);
    outline: 1px solid var(--error);
    margin-top: calc(-2vh + 1em);
    margin-bottom: calc(2vh + 1em);
    padding: 1em;
    border-radius: 8px;
}

.warnings {
    color: var(--warning);
    outline: 1px solid var(--warning);
    margin-top: calc(-2vh + 1em);
    margin-bottom: calc(2vh + 1em);
    padding: 1em;
    border-radius: 8px;
}

@media (max-width:1020px)  {
    .authForm {
        width: 75%;
    }

    #page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
        margin-top: 20vh;
        height: auto;
    }

    #sidebar {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
    }
}
